<!-- <div class="container" style="height: auto">
    <header>
    <mat-toolbar fxLayout="row" color="primary">
      <span
        fxFlex
        style="
          font-family: 'Ubuntu', sans-serif;
          font-weight: bold;
          color: #0875F7;
          -webkit-font-smoothing: antialiased;
        "
        >THE ICT CLASS</span
      >
      <span>
        <button mat-button fxHide.xs>HOME</button>
        <button mat-button  fxHide.xs>ABOUT US</button>
        <button mat-button  fxHide.xs>CONTACT</button>
        <button
          mat-raised-button
          style="background-color: #ed6f64; color: white"
          fxHide.xs
        >
          CLASSES
        </button>
      </span>
      
      <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #dropMenu="matMenu" xPosition="before">
        <button mat-menu-item  style="color: azure;">HOME</button>
        
        <button  mat-menu-item style="color: azure;">SPECIALTIES</button>
        
        <button mat-menu-item  style="color: azure;">ABOUT SIR</button>
        
        <button mat-menu-item  style="color: azure;">CLASSES</button>
  
        
      </mat-menu>
    </mat-toolbar>
  </header> -->
  
    <!-- Web Banner MOBILE VIEW -->
    <!-- <div
      class="container"
      fxLayout="row"
      fxLayout.md="row"
      fxLayout.xs="column"
      fxLayoutAlign.gt-md="space-around center"
      fxLayoutAlign.gt-xs="space-around center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0"
    >
      <div
        fxFlex="60%"
        fxFlex.xs="100%"
        fxHide
        fxShow.xs
        class="banner-art-mobile"
      >
        <img src="../../assets/new g.png" alt="" />
      </div>
  
      <div
        fxFlex.xs="100%"
        fxHide
        fxShow.xs
        class="banner-text-mobile"
      
      >
        <div>
          <h2 class="header-top">
            <em> A Level </em> වලට <em> ඒ Level </em> එකෙන් වැඩ කරන
          </h2>
        </div>
        <div><h2>අපේ ICT පන්තිය</h2></div>
  
        <div><h3>අපොස උසස් පෙළ තොරතුරු හා සන්නිවේදන තාක්ෂණය</h3></div>
        <div><p>Theory පන්ති | Revision පන්ති | Paper Class</p></div>
  
        <div class="btn">
          <button mat-raised-button color="primary">CLASSES</button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="bg-img">
    <!-- <div class="centered">Vega EVX</div> -->
    <div class="bottom-left"><button class="btn" mat-button>Exiting Inventory</button></div>
    <div class="bottom-right"><button class="btn" mat-button>Cutomize Order</button></div>
    <header [class.header_change]="header_variable">

    <mat-toolbar fxLayout="row" fxLayoutAlign="space-around center" >
      <span fxFlex class="logo"><img
        src="../../assets/vega_innovations_logo (1).png"
        height="40"
        width="200"
    /></span>
    <div class="routings">
      <button mat-button fxHide.xs (click)="toHome()">
          Home
      </button>
      <button mat-button fxHide.xs (click)="toSpecs()">
        Specifications
      </button>
      <button mat-button fxHide.xs (click)="toAbout()">
        About Us
      </button>
      <button mat-button fxHide.xs (click)="toDrive()">
        Vega Drive
      </button>
      <button
          mat-raised-button
          style="background-color: #cf092c; color: white"
          fxHide.xs
          routerLink="/login"
        >
          Login
        </button>
    </div>
      <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
          <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #dropMenu="matMenu">
          <ng-container *ngFor="let item of menuItems">
              <button mat-menu-item>
                  <mat-icon class="mr">{{item.icon}}</mat-icon>
                  {{item.label}}
              </button>
              <mat-divider></mat-divider>
          </ng-container>
      </mat-menu>
  </mat-toolbar> 
</header>