.bg-img{
    background-image: url("../../assets/Banner/CarConfig_Primary__copy.jpg");

    min-height: 980px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mat-toolbar{
    
    //height: 50px;
    background-color: #21252986;
    //background-color: transparent;
    color: #ffffff;
    position: fixed;
    
    
    .logo{
        margin-top: 0.4rem;
    }
    .routings{
        
        a{
            margin-right: 1.2rem;
            font-size: 0.8rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font: 300;
        }
        button{
            margin-right: 1rem;
        }
    }
   
}
.bg-img {
    position: relative;
    //text-align: center;
    color: #ffffff;
  }
.centered {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 80px;
        
    text-shadow: 2px 2px #3a3838;
    
  }

  .bottom-left {
    position: absolute;
    bottom: 10%;
    left: 41%;
    button{
      //bottom: 135px;
      background-color: #2e456442 ;
      color: rgb(138, 135, 135);
      padding: 6px 32px;
      //opacity: 0.6;
  
      
  
    //cfe31b
  }
  
  .btn:hover {
    background-color: #cf092d9d ;
    color: whitesmoke;
  }
  }

  .bottom-right {
    position: absolute;
    bottom: 10%;
    right: 41%;
    button{
      //bottom: 135px;
      background-color: #2e45645e ;
      color: rgb(138, 135, 135);
      padding: 6px 32px;
      //opacity: 0.3;
  
      
  
    //cfe31b
  }
  
  .btn:hover {
    background-color: #cf092d9d ;
    color: whitesmoke;
  }
  }

  .header_change{
    mat-toolbar{
    background-color: #212529e8;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    color: white;
    
}
}