<app-topmenu></app-topmenu>
<div class="container" fxLayout="column" fxLayoutAlign="space-around stretch">
  <div fxFlex="5"></div>
  <div
    class="main-area"
    fxLayout="row"
    fxLayoutAlign="space-between stretch"
    fxFlex="70"
  >
    <div class="car-pic" fxFlex="70"></div>
    <div class="detail" fxFlex="30">B</div>
  </div>

  <div
    class="split-specs"
    fxLayout="row"
    fxLayoutAlign="space-around center"
    fxFlex="25"
  >
    <div class="spec-item">C</div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="spec-item">D</div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="spec-item">E</div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="spec-item">F</div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="spec-item">G</div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="spec-item">H</div>
  </div>
</div>
