// .container{
//     //height: 1000px;
//     //background-color:rgb(0, 0, 0);
// }

.main-area{
    .car-pic{
        background-image: url("../../assets/CarDetails/nipun-madusanka-1.jpg");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 650px;
       // margin-top: 3rem;
    }
}

.mat-divider.mat-divider-vertical{
    height: 300px;
    border-width: 5px;
    }

mat-toolbar{
    height: 20px;
}