<app-topmenu></app-topmenu>

<div fxLayout="row">
  <div fxFlex="40%"></div>
  <div
    fxFlex="20%"
    fxLayout="column"
    fxLayoutAlign="space-around stretch"
    class="main-div"
  >
    <div fxFlex style="margin-top: 5rem">
      <h1>Sign In</h1>
    </div>
    <div fxFlex>
      <form
        fxLayoutAlign="stretch"
        fxLayout="column"
        fxLayoutGap="5px"
        [formGroup]="angForm"
        (ngSubmit)="postdata(angForm)"
        autocomplete="off"
      >
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>email</mat-label>
          <input
            type="email"
            name="email"
            formControlName="email"
            autocomplete="off"
            class="form-control"
            matInput
            placeholder=""
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Enter your password</mat-label>
          <input
            type="password"
            name="Password"
            formControlName="password"
            autocomplete="off"
            class="form-control"
            matInput
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <mat-checkbox class="remember-me">Remember me</mat-checkbox>
          </div>
          <div><a href="#">forgot password?</a></div>
        </div>

        <!-- <div
        fxLayout="row"
        fxLayoutAlign="center end"
        fxLayoutGap="4px"
        class="signup-link"
      >
      
        <p>Don't have an account yet?</p>
        <p><a href="">Create Account</a></p>
      </div> -->
        <button mat-flat-button color="primary" type="submit">Login</button>
      </form>
    </div>

    <h4><span class="line-center">OR</span></h4>
    <button mat-stroked-button color="primary" routerLink="/registration">
      Create Account
    </button>
  </div>
  <div fxFlex="25%"></div>
</div>
