
    
  
    <div class="bg-image" fxLayout="row" fxLayoutAlign="center end" >


        <div fxFlex="46.5">
        
          </div>

          <div fxFlex class="content">
            <button class="btn" mat-button>DRIVE NOW</button>
          </div>

          

    </div>
 
  