.bg-image{
    position: relative;
    //display: flex;
    //justify-content: left;
    //align-items: center;
    height: 1000px;
    background-size: 100%;
    background-color: black;
    
    
    


    &::before{
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-image: url("../../../assets/VegaUI2.jpg");
        background-position: top left;
        background-size: cover;
        opacity: 0.9999999;
        
       
    }

    
}

h1{
  position: relative;
  font-size: 5rem;
  color: aliceblue;
  bottom: 180px;
  //text-align:center;      
}

button{
    bottom: 135px;
    background-color: #cf092d31 ;
    color: white;
    padding: 8px 35px;
    

    

  //cfe31b
}

.btn:hover {background-color: #cf092d ;}

div.content{
  
  background-color: black;
  //border: 1px solid black;
  //opacity: 0.95;
}