<div fxLayout="row">
  <div fxFlex="40" class="content" fxFlex.lg="60" >
    
    <div>
        <h1 class="title">About Us</h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div fxFlex="10" fxFlex.lg="5">
        </div>

        <div class="discription">
            <h3>Redefining
                Tomorrow's World
                </h3>


                <p>
                    Inspired by a hyper creative generation of multidisciplinary innovators, our passion brought us here.
                
                We are now ready to revolutionise the world we live in with cutting-edge technology, to enhance lives, to bring people closer to nature and to each other in extraordinary ways.

                </p>
            

            <h3 class="beleive">We Believe
            </h3>

            <p>
                
The underlying magic you see in everything we do is a result of our team, their passion, innate talent and commitment to make the world a better place, inclusive and accessible to everyone alike; we believe we can, we know we must.
            </p>

            <h3 class="collaborate">We Collaborate
            </h3>

         <p>
             We challenge everything we do, from ideas to processes and even the minute detail that may seem insignificant to another.
             
             Our teams are highly skilled, we perform brilliantly, when we collaborate; it is something we do every day.
         </p>
       
    </div>

    <div fxFlex="10" fxFlex.lg="5">
    </div>
    </div>

    
  </div>

  <div fxFlex="60" fxFlex.lg="40" class="bg-image"></div>
</div>
