.bg-image{
    position: relative;
    //display: flex;
    //justify-content: left;
    //align-items: center;
    height: 100vh;
    //background-size: 100%;
    background-color: black;
    
    
    


    &::before{
        content: '';
        position: absolute;
        top: 18%;
        bottom: 0px;
        left: 20px;
        right: 0px;
        background-image: url("../../../assets/g26.jpg");
        background-position: top left;
        background-size: cover;
        opacity: 0.9999999;
        
       
    }

    
}

h1{
  position: relative;
  font-size: 5rem;
  color: aliceblue;
 // text-align:left;      
}


div.content{
    //margin: 30px;
  background-color: black;
  //border: 1px solid black;
  //opacity: 0.95;
}


.discription{
  margin-top: 6rem;
  //position: relative;
  //max-width: 400px;
  //min-width: 401px;
  font-size: x-large;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  color: rgb(138, 135, 135);
  //top: 260px;
  //right: 600px;
  line-height: 1.2;

 // text-align: justify;
//  font-stretch: normal;
  
h3{
  color: #cf092c;
  font-size: 40px;
  font-weight: 600;
}

h3.beleive{
  color: #cf092c;
  font-size: 40px;
  font-weight: 600;
  text-align: right;
  margin-top: 2rem;
}

p.beleive{
  text-align: right;
}

h3.collaborate{

  margin-top: 2rem;
}
  
}

@media screen and (max-width: 1918.99px) {
  .discription{
    margin-top: 3rem;
  }
}