<app-topmenu></app-topmenu>

<div fxLayout="row">
  <div fxFlex="40%"></div>
  <div
    fxFlex="20%"
    fxLayout="column"
    fxLayoutAlign="space-around stretch"
    class="main-div"
  >
    <div fxFlex style="margin-top: 5rem">
      <h1>Create Account</h1>
    </div>
    <div fxFlex>
      <form
        fxLayoutAlign="stretch"
        fxLayout="column"
        
        fxLayoutGap="5px"
        [formGroup]="angForm"
        (ngSubmit)="postdata(angForm)"
        autocomplete="off"
      >
        <mat-form-field appearance="outline" class="form-group">
          <mat-label>User Name</mat-label>
          <input
            type="text"
            name="name"
            formControlName="name"
            autocomplete="off"
            class="form-control"
            matInput
            placeholder=""
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Email</mat-label>
          <input
            type="email"
            name="email"
            formControlName="email"
            autocomplete="off"
            class="form-control"
            matInput
            placeholder=""
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-group">
          <mat-label>Password</mat-label>
          <input
            type="password"
            name="Password"
            formControlName="password"
            autocomplete="off"
            class="form-control"
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder=""
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field> -->

        <div fxLayout="row" fxLayoutAlign="center center">
          <div>
            <mat-checkbox class="remember-me"
              >I understand and agree to Vega Innovation's <br />
              <a href="">Privacy policy</a> and
              <a href="">Terms of use.</a></mat-checkbox
            >
          </div>
        </div>

        <!-- <div
        fxLayout="row"
        fxLayoutAlign="center end"
        fxLayoutGap="4px"
        class="signup-link"
      >
      
        <p>Don't have an account yet?</p>
        <p><a href="">Create Account</a></p>
      </div> -->
        <button mat-flat-button color="primary" type="submit">
          Create Account
        </button>
      </form>
    </div>

    <h4><span class="line-center">OR</span></h4>
    <button mat-stroked-button color="primary" routerLink="/login">
      Sign in
    </button>
  </div>
  <div fxFlex="25%"></div>
</div>
