


.login-form{
    padding: 20px;
}

.signup-link{
    margin-bottom: -20px;
    padding-top: 15px;
}

.line-center{
    margin:0;padding:0 10px;
    background:#fff;
    display:inline-block;
}
h4{

    text-align:center;
    position:relative;
    z-index:2;

}
h4:after{
    content:"";
    position:absolute;
    top:50%;
    left:10px;
    right:10px;
    border-top:solid 1px rgb(226, 221, 221);
    z-index:-1;
}


