$lt-gray: #ddd;


.container{

    //background-color: #000;
     background-image: url("../../../assets/new\ des\ car\ spec.jpg");

     min-height: 980px;
     position: relative;
     

    // /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    // position: relative;
    // //text-align: left;
    // color: white;
}

// .content{
//     position: absolute;
//     left:15%;
//     top:22%;
// }

.item1,.item2,.item3,.item4{
    
    mat-card{
        width: 300px;
        color: #cfe31b;
        background-color: #cf092c;
        line-height: 1;
        mat-card-header{
            mat-card-subtitle{
                color: whitesmoke;
                font-size: xx-large;
            }
        }
    }
}


.item1{
    //background-color: greenyellow;
    position: absolute;
    top: 160px;
    right: 0px;
}
.item2{
    //background-color: hotpink;
    position: absolute;
    top: 320px;
    right: 0px;
}
.item3{
    //background-color: greenyellow;
    position: absolute;
    top: 480px;
    right: 0px;
}
.item4{
    //background-color: greenyellow;
    position: absolute;
    top: 680px;
    right: 0px;
}
.discription{
    position: absolute;
    max-width: 400px;
    min-width: 401px;
    font-size: x-large;
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
    color: rgb(138, 135, 135);
    top: 260px;
    right: 600px;
    line-height: 1.2;

   // text-align: justify;
  //  font-stretch: normal;
    
  h1{
    color: #cf092c;
    font-size: 40px;
    font-weight: 600;
}
    
}




.item1:hover,.item2:hover,.item4:hover{
mat-card{
    width:350px;
    height: 100px;
}
}
.item3:hover{
    mat-card{
    width: 350px;
    height: 140px;
}
}

// @media screen and (min-width: 1201px) {
//     div.discription {
//       font-size: 20px;
//     }
//   }
// @media screen and (max-width: 1200px) {
//     div.discription {
//       font-size: 1vw;
//     }
//   }