<div class="container"
fxLayout.xl="row"
fxLayout.md="column"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px"
>
     
     >
<!-- <div fxFlex="60"></div> -->
    
        <div fxFlex  class="discription" >
            <h1>SPECS</h1>
            <p>
                
                Fully electric, two seater super car, in a handmade carbon fiber body powered by a dual motor
                all-wheel-drive drivetrain. All automotive electronics, including the liquid cooled motor controllers
                and Li-ion battery pack is designed and manufactured in-house, showcasing some of the most advanced
                technologies in the EV super car space.
            
            </p>
        </div>

     <div fxFlex class="specs" >
         <div class="item1">
             <mat-card>
                 <mat-card-header>
                     <mat-card-title>TORQUE</mat-card-title>
                     <mat-card-subtitle>760Nm</mat-card-subtitle>
                 </mat-card-header>
                 <mat-card-content>
                 
                 </mat-card-content>
                 
             </mat-card>

         </div>
         <div class="item2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>POWER</mat-card-title>
                    <mat-card-subtitle>804hp</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                
                </mat-card-content>
                
            </mat-card>
         </div>
         <div class="item3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>ACCELERATION</mat-card-title>
                    <mat-card-subtitle>0-100km/h <br>3.1seconds</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                
                </mat-card-content>
                
            </mat-card>
         </div>
         <div class="item4">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>RANGE</mat-card-title>
                    <mat-card-subtitle>300km</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                
                </mat-card-content>
                
            </mat-card>
         </div>
        </div>
     
    </div>