.mat-toolbar{
    
    //height: 50px;
    background-color: #212529e8;
    //background-color: transparent;
    color: #FFFFFF;
    position: relative;
    
   // 212529e8
    
    .logo{
        margin-top: 0.4rem;
    }
    .routings{
        a{
            margin-right: 1.2rem;
            font-size: 0.8rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font: 300;
        }
    }
   
}

button{
    margin-right: 1rem;
}