<mat-toolbar fxLayout="row" color="primary">
    <span fxFlex class="logo"><img
      src="../../assets/vega_innovations_logo (1).png"
      height="40"
      width="200"
  /></span>
  <div class="routings">
    <button mat-button fxHide.xs routerLink="/home">
        Home
    </button>
    <button mat-button fxHide.xs>
      Specifications
    </button>
    <button mat-button fxHide.xs>
      About Us
    </button>
    <button
        mat-raised-button
        style="background-color: #cf092c; color: white"
        fxHide.xs
        routerLink="/login"
      >
        Login
      </button>
  </div>
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu">
        <ng-container *ngFor="let item of menuItems">
            <button mat-menu-item>
                <mat-icon class="mr">{{item.icon}}</mat-icon>
                {{item.label}}
            </button>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-menu>
</mat-toolbar> 